

h2{
    margin-top: 32px;
}

.profile img{
    border: 1px solid black;
    margin-right: 12px;
    width: 100px;
    height: 100px;
}



.error{
    background-color:red;
}

.pulsate {

    color: red;
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.8);
		
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.8);
	}
}

#santa{
    transform: scaleX(-1);
}



